/*
 *Note:
 *
 *text-shadow: [horizontal]px [vertical]px [blur]px [color];
 *box-shadow:	[horizontal]px [vertical]px [blur]px [spread]px [color];
 */
	
/* attempt at inserting font family*/	
@font-face {
    font-family: LHLineSans-Thin;
    src: url(font\LH-Line1-Sans-Thin.otf) format(opentype);
}


/* background */
body {
	margin: 0;
	
}

#Home{
    
    background-position: center bottom;
    background-attachment: fixed;
    background:  url("images/noisy.png") repeat fixed center  bottom / 90px 70px #CCC;
}

#Philosophy{
    background-position: center bottom;
    background-attachment: fixed;
    background:  url("images/purpleSpace.jpg") #CCC;
}

#Resume{
    background-position: center bottom;
    background-attachment: fixed;
    background: url("images/bg1.jpg");
}

#Courses{
    background-position: center bottom;
    background-attachment: fixed;
    background: url("images/milkyway.jpg");
}

#Contact{
    background-position: center bottom;
    background-attachment: fixed;
    background: url("images/galaxy.jpg");    
}
/* parrallax shapes! */
.planet {
    background-color: #800000;
    background:  url("images/galaxy.jpg") repeat fixed center  bottom;
    background-position: center bottom;
    background-attachment: fixed;
    
    border-radius: 1000px 1000px 1000px 1000px;
    border-color: black;
    box-shadow: inset 0px 0px  20px 10px rgba(0,0,0,0.6);
    
    height: 2000px;
    left: -650px;
    position: fixed;
    top: 600px;
    width: 2000px;
    z-index: -1;
}


/* main div */
div{
	min-height: 700px;
	height: 100%;
}
div.main{
	font-family: 'American Typewriter', Georgia, serif;
	font-weight: 100;
	text-align: left;
	line-height: 18pt;
	color: black;
	
}
/* headers and name */
h1{	
	font-weight: 100;	
	color: rgba(255, 255, 255, 1);
	font-size: 4em;
	
	
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6),
		 0px 0px 13px rgba(0,0,0,0.4),
		 0px 0px 23px rgba(0,0,0,0.4);
}
#name{
}


/*one page nav list */
ul {
    margin: 0;
    padding: 0;
}
#nav {
    z-index: 1;
    
    background:  url("images/noisy.png") repeat fixed center  bottom / 90px 70px #CCC;
    background: #CCC;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
	
	
    
    -webkit-box-shadow: 0 0 5px black;
    box-shadow: 0 0 5px black;
}
#nav li {
	display: inline-block;
}
#nav a {
	margin-left: 15px;
	color:#FAF6EF;
	display: block;
	padding: 0px 10px;
	
	
	font-size: 1.2em;
	text-decoration: none;
	textShadow: 0px 0px 4px #000;
}
#nav a:hover {
	color: #dedede;
}
#nav .current a {
	color:#800000;
	textShadow: 2px 2px 4px rgba(255, 255, 255, 0.1);
}


/* text formating */
p{	
	padding-left:5px;
	padding-right: 5%;
	font-size: 1.5em;
}
.whiteShadow{
    text-shadow: 2px 2px 3px rgba(255,255,255,0.6),
		 0px 0px 13px rgba(255,255,255,0.4),
		 0px 0px 23px rgba(255,255,255,0.4);
}
.blackShadow{
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6),
		 0px 0px 13px rgba(0,0,0,0.4),
		 0px 0px 23px rgba(0,0,0,0.4);
}

/* front page elements */
#me {
	margin-right: 4%;
	
	display:block;
	float:right;
	
	border-style:inset;
	border-color:grey black black black;
	-webkit-box-shadow: 0 0 10px black;
        box-shadow: 0 0 10px black;
	
	width: 300px;
	
}

#howdy{	
	font-weight: normal;
	font-size:60px;
	color:#800000;
	
}


/* Resume */

.resumeContainer{
    position: relative;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
#resumePdf{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    width:50%;
    min-width: 700px;
    min-height: 650px;
    
    border-style:inset;
    border-color:grey black black black;
    
    -webkit-box-shadow: 0 0 10px black;
    box-shadow: 0 0 10px black;
}

/* Contact */
.contactWrapper{
    margin: auto;
    
    position: relative;
    width: 50%;
    max-height: 200px;
    
    color: white;
    
    textShadow: 0px 0px 10px #000;
    
}
a{
    color: white;
    text-decoration: none;
    textShadow: 0px 0px 10px #000;
}