/*
 *Note:
 *
 *text-shadow: [horizontal]px [vertical]px [blur]px [color];
 *box-shadow:	[horizontal]px [vertical]px [blur]px [spread]px [color];
 *
 *margin: [top] [left] [bottom] [right]
 */

/* background */
/*Possible background colors:
#EEEEEE
cadetblue
#8DD4F7
#1188FF
#7BC7E7*/
body {
    background:  url("images/noisy.png") repeat fixed center  bottom / 90px 70px;
	background-color:#5F9EA0;
    background-position: center bottom;
    background-attachment: fixed;
    right:0;
    margin:0;
}

.simple{
	display: none;
}

iframe{
    width:100%;
    height:100%;
    border:none;
}

section{
    height: 100vh;
    padding-top: 2%;
    padding:5%;
    margin: 0;
}
.main{
	font-family: 'American Typewriter', Georgia, serif;
	font-weight: 100;
	text-align: left;
	line-height: 18pt;
	color: black;
        margin: 0;
        padding:0;
	
}

#Home{
    /*background:  url("images/xv.png") repeat fixed;*/  
    background:  url("images/bottom.png") no-repeat fixed center bottom -20%;
    /*background-position:center -10400%;*/
    background-size: auto;
    
    color: #050500;
    /*background-color: #1BABB7;*/
    background-color: #1896a1;
}
#Work{
    /*background:  url("images/xv.png") repeat fixed;*/
    background:  url("images/bottom.png") no-repeat fixed center bottom -20%;
    /*background-color: #bdc3c7;*/
    /*background-color: #9BCFC2;*/
    background-color: #4A5C81   ;
    /*background-color: #F6F6EA;*/
    right:0;
    margin-right: 0;
    margin-left: 0;
    
}
#School{
    /*background:  url("images/bg1.jpg") repeat fixed;*/  
    background:  url("images/bottom.png") no-repeat fixed center bottom -20%;
    background-color: #7C6995;
    /*background-color: #006b77;*/
    /*background-color: #914563;*/
    /*background-color: #EBB492;*/
    
    color: whitesmoke;
}
#workText, #schoolText{
    float:left;
    width: 45%;
    margin-left:5%;
    
    color: white;
    
}
#Contact{
    /*background:  url("images/xv.png") repeat fixed;*/  
    background:  url("images/bottom.png") no-repeat fixed center bottom -20%;
    background-color: #34495e;
    /*background-color: #914563;*/
}
/* headers and name */
h1{
    margin-bottom: 1%;

    font-weight: 100;	
    color: rgba(255, 255, 255, 1);
    font-size: 4em;
	
	
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6),
		 0px 0px 13px rgba(0,0,0,0.4),
		 0px 0px 23px rgba(0,0,0,0.4);
}
h2{
    margin-bottom: 1%;
    font-weight: 100;	
    color: rgba(255, 255, 255, 1);
    font-size: 4em;
	
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6),
		 0px 0px 13px rgba(0,0,0,0.4),
		 0px 0px 23px rgba(0,0,0,0.4);
}
#name{
    float:right; margin-left:1%;margin-left: 15px;
	color:whitesmoke;
	display: block;
	padding: 5px 10px;
	
	
	font-size: 1.75em;
	text-decoration: none;
	textShadow: 0px 0px 4px #000;
}



/*one page nav list */
ul {
    margin: 0;
    padding: 0;
}
#nav {
    z-index: 10;
    /*background: #F1F1F1;*/
    background:  url("images/noisy.png") repeat fixed center  bottom / 90px 70px;
    background-color:#5F9EA0;
    
    overflow: hidden;
    position: fixed;
    
    left: 0;
    right: 0;
    top: 0;

    text-align: left;
	
    -webkit-box-shadow: 0 0 5px black;
    box-shadow: 0 0 5px black;
}
#nav li {
	display: inline-block;
}
#nav a {
	margin-left: 15px;
	color:whitesmoke;
	display: block;
	padding: 5px 10px;
	
	
	font-size: 1.2em;
	text-decoration: none;
	textShadow: 0px 0px 4px #000;
}
#nav a:hover {
	color: #800000;
	textShadow: 2px 2px 4px rgba(255, 255, 255, 0.1);
}
#nav a.name:hover{
        color: whitesmoke;
}
#nav .current a {
	color:#800000;
	textShadow: 2px 2px 4px rgba(255, 255, 255, 0.1);
}


/* text formating */
p{	
	margin-left:5px;
	margin-right: 10%;
	padding-top: 25px;
	font-size: 1.5em;
}
.maroon{
	/*color:gainsboro;*/
        color: whitesmoke;
}
.whiteShadow{
    text-shadow: 0px 0px 3px rgba(255,255,255,0.6),
		 0px 0px 13px rgba(255,255,255,0.4),
		 0px 0px 23px rgba(255,255,255,0.4);
}
.blackShadow{
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6),
		 0px 0px 13px rgba(0,0,0,0.4),
		 0px 0px 23px rgba(0,0,0,0.4);
}

/* Focus */

.course{
    
}
.person{    
    
}
.description{
    color: rgba(0,0,0,0.5); 
    text-shadow: 0px 0px 0px;
}

/* course View page */
#courseView{
    z-index: 15;
    position:fixed;
   
    top:0;
    left:0;
    right:0;
    bottom:0;
    
    width: 100%;
    height:100%;
    
    background-color: rgba(6,1,8,0.3);
    
    display: none;  
}

.courseDescriptionWrapper{
    
    margin: auto; 
    margin-right:0;
    
    width:50%;
    height:100%;

    min-width: 400px;
    background-color: #333;
    color: #FFF;
    -webkit-box-shadow: inset 0 0 5px 5px #222;
    -moz-shadow: inset 0 0 5px 5px #222;
    box-shadow: inset 0 0 5px 5px #222;
}
.courseDescription{
    width:100%;
    height:100%;
    border:none;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

/* course View page */
#workView{
    z-index: 15;
    position:fixed;
   
    top:0;
    left:0;
    right:0;
    bottom:0;
    
    width: 100%;
    height:100%;
    
    background-color: rgba(6,1,8,0.3);
    
    display: none;  
}

#workDescriptionWrapper{
    
    margin: auto; 
    margin-right:0;
    width:50%;
    height:100%;
    
    min-width: 400px;
    background-color: #333;
    color: #FFF;
    -webkit-box-shadow: inset 0 0 5px 5px #222;
    -moz-shadow: inset 0 0 5px 5px #222;
    box-shadow: inset 0 0 5px 5px #222;
}
.workDescription{
    width:100%;
    height:100%;
    border:none;
    padding:0;
    top:0;
    left:0;
    right:0;
    bottom:0;
}
/* front page elements */
#me {
	margin-left:auto;
	margin-right:10%;
	display:block;
	float:right;
	border-style:solid;
        border-bottom-width: thick;
        border-color:black;
	width: 25%;
	
}
#howdy{	
	font-weight: normal;
	font-size:60px;
/*	color: gainsboro;*/
        color: whitesmoke;
}

/* Resume */
#resumePdf{
    display: block;
    margin-left: auto;
    margin-right: auto;
    heieght: 90vh;
    width: 25%;
/*    
    width:80%;*/
/*    min-width: 700px;
    min-height: 650px;*/
    
    border-style:inset;
    border-color:grey black black black;
    
    -webkit-box-shadow: 0 0 10px black;
    box-shadow: 0 0 10px black;
}

/* Contact */
.contactWrapper{
    margin: auto;
    
    position: relative;
    width: 50%;
    max-height: 200px;
    
    color: white;
    
    textShadow: 0px 0px 10px #000;
    
}
a{
    /*color: #80DFFE;*/
    color: #00BFFF;
    text-decoration: none;
    textShadow: 0px 0px 10px #000;
}
#hi{
    color: #00BFFF;
}
#you{
    line-height: 1.5em;
    color: #00BFFF;
}